.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.modal_content { 
    background: rgb(255, 255, 255);
    background: linear-gradient( 356deg, rgba(255, 255, 255, 1) 38%, rgba(255, 234, 150, 1) 90% );
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1500px;
    position: relative;
    min-height: 80%;
    max-height: 95%;
    text-align: center;
    overflow: auto;
}

.modal_content::-webkit-scrollbar {
    width: 8px;
    background-color: #fce795;
}

.btn-close-modal-comandas{
    display: flex;
    position: absolute;
    align-items: center;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px #86761e;
}
.btn-close-modal-comandas:hover{
    transition: all 200ms ease-in-out;
    transform: scale(1.1);
}


.select-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.select-ingredients {
    width: 50%;
}

.comandas_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.comandas_container > h3{
    display: flex;
    width: 55%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.table_container {
    margin-top: 25px;
    width: 100%;
    font-size: 0.8em;
}

.table_container table {
    width: 90%;
    border-collapse: collapse;
    overflow-x: auto;
    background: #dedede29;
}

.table_container table tr th {
    padding: 10px;
    background-color: #ffefad;
}

.table_container table tr td {
    padding: 10px;
    text-align: center;
}

.table_container table tr td select {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f5d555;
    cursor: pointer;
}


.btn-ingresar-entrada {
    border-radius: 5px;
    border: none;
    background-color: #ffefad;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 10px 40px;
    box-shadow: 1px 1px 5px #86761e;
    margin-top: 60px;
}

.selects-salidas{
    width: 100%;
    margin-top: 30px;
}

.select-salidas{
    width: 54%;
}
.selects-salidas > div{
    width: 100%;
    display: flex;
    cursor: pointer;

    justify-content: center;
}

.table-salida {
    width: 100%;
    margin-top: 10px;
}
.table-salida > form > table{
    border-collapse: collapse;
    width: 100%;
    background-color: #fce795;
    font-size: 0.9em;
}

.table-salida > form > table > thead > tr > th{
    border: 1px solid #f2c22d;
    color: #743913;
    padding: 5px;
}

.table-salida > form > table > tbody > tr{
    border-bottom: 1px solid #f2c22d;
}
.table-salida > form > table > tbody > tr > td{
    padding: 7px;
    background: #fefcec;
}

.input-salida{
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f2c22d;
    height: 100%;
    outline: none;
}

.input-salida:focus{
    border: 1px solid #743913;
}

.salida-button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #743913;
    background-color: #ffefad;
    cursor: pointer;
    margin-top: 5%;
}

.salida-button:hover{
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

.btn-salida{
    color: black !important;
}

.MuiPaper-root{
    background-color: #fefae8 !important;
    
}

#alert-dialog-title{
    color: #feb411 !important;
}

#alert-dialog-description{
    color: #743913;
}

.btn-acept-salida{
    background-color: #feb411 !important;
    color: white !important;
}


.table-entradas-form{
    width: 100%;
}

.table-entradas-form > table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fce795;
    font-size: 1.1em;
}

.table-entradas-form > table > thead > tr > th{
    border: 1px solid #f2c22d;
    color: #743913;
    padding: 5px;
}

.table-entradas-form > table > tbody > tr{
    border-bottom: 1px solid #f2c22d;
}

.table-entradas-form > table > tbody > tr > td{
    padding: 7px;
    background: #fefcec;
}

.input-entrada{
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f2c22d;
    height: 100%;
    outline: none;
}


.list-entradas{
    text-align: start;
    padding: 10px
}

.list-entradas > p{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.td-total{
    background-color: white !important;
}

.div-total{
    background-color: #fce795;
    padding: 6px;
}

.div-txt-total{
    padding: 6px;
    border: 1px solid #f2c22d;;
}

