.containerEntradas{
    display: block;
    position: relative;
    max-height: 85vh;
    overflow-y: auto;
    min-height: 60vh;
}

.containerEntradas > div{
    height: 100%;
}


.entradaBody > h3{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
}

.selectBox > div{
    margin-top:  5px;
}

.selectComponent{
    cursor: pointer;
}

.tableBox > form > table{
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid silver;
    border-collapse: collapse;
    margin-top: 20px;
}

.tableBox > form > table > thead > tr > th{
    padding: 10px;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    font-weight: 400;
}

.tableBox > form > table > tbody > tr > td{
    border-bottom: 1px solid #dededec6;
    border-top: 1px solid #dededec6;
    padding: 6px;
    text-align: center;
}

.tableBox > form > table > tbody > tr:nth-child(odd){
    background-color: rgb(250, 250, 250);
}

.tableBox > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEntrada{
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #f5b702;
}

.selectGramage{
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #f5b702;
    cursor: pointer;
}

.tdTotal{
    display: flex;
    border-bottom: none !important;
    border-top: none !important;
    justify-content: center;
    background-color: #dededec6;
}

.btnSaveEntrada{
    width: 30%;
    margin-top: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: #f5b702;
    box-shadow: 0px 7px 4px -5px rgba(0, 0, 0, 0.4);
}

.loadEntrada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.selectAnyIngredient{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.selectAnyIngredient > div{
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #f5b702;
    font-size: 8em;
    padding: 20px;
}