.edr-container {
    display: grid;
    grid-template-areas: "aside main main";
    grid-template-columns: 650px 1fr;
    grid-template-rows: 1fr auto;
    margin: auto;
    position: relative;
    width: 90%;
    margin-top: 20px;
}

.aside-content {
    grid-area: aside;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.btns-edr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(82, 81, 81, 0.75);
    border-radius: 10px;
    padding: 10px;
    height: 200px;
}

.btns-edr > button {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 234, 150, 1);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.calendar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.calendar-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

.calendar h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.date-picker {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.historico-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(82, 81, 81, 0.75);
}

.historico-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;

}

.otros-gastos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    width: 100%;
}

.negativo {
    border: 1px solid red;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.no-data h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}