.section-homepage-father {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

.img-homepage-father {
  display: block;
  position: relative;
  height: 45vh;
  width: 40%;
}

.img-homepage-father > img {
  display: block;
  position: relative;
  height: 100%;
  object-fit: cover;
}

.zone-work {
  display: flex;
  position: relative;
  width: 90%;
  background: #fef7bd;
  min-height: 40vh;
  height: 10vh;
  margin: auto;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

