*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Work Sans', sans-serif;
}

.info-hompage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.links-link-1, .links-link-2, .links-link-3{
  padding: 20px;
  background-color: #D9D9D9;
  border-radius: 5px;
  margin-bottom: 12px;
  min-width: 24%;
}

.txt-links{
  padding: 3px;
  text-align: center;
  background-color: #FFEA96;
  color:  #86761E;
  box-shadow: 0px 1px 8px -2px #86761E;
  margin-bottom: 10px;
}

.see-link-1, .see-link-2, .see-link-3{
  display: flex;
  flex-direction: row;
  color:  #86761E;
  background-color: white;
  box-shadow: 0px 1px 8px -2px #86761E;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 10px;
}

.txt-link1, .txt-link2, .txt-link3{
  width: 60%;
}

.icon-link-1, .icon-link-2, .icon-link-3{
  background-color: #D9D9D9;
  border-radius: 50%;
  padding: 5px;
}


.see-link-1:hover, .see-link-2:hover, .see-link-3:hover{
  box-shadow: 0px 10px 8px -2px #86761E;
  transition: all 200ms ease-in;
}
.url-homepage{
  text-decoration: none;
}

.loding-resipe-homepage{
  display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: 90vh;
}

.loding-resipe-homepage > svg{
  font-size: 3em;
  margin-top: 233px;
  animation: giro 1s linear infinite;
}


/* Nueva forma */
.fa-ho-pa{
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  width: 100%;
  background: rgb(255, 255, 255);
    background: linear-gradient( 356deg, rgba(255, 255, 255, 1) 38%, rgba(255, 234, 150, 1) 90% );
}

.bod-ho-pa{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.row-1-ho-pa {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-bottom: 30px;
}

.row-2-ho-pa{
  display: flex;
  flex-direction: row;
  padding:10px;
  margin-top: 10px;
  background-color: white;
}

.col-1-ho, .col-2-ho{
  width: 50%;
  margin: 10px;
}

.head-col-ho{
  text-align: center;
}

.body-col-ho{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box-ho{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 5px #86761e; */
  border: 1px solid silver;
  cursor: pointer;
  text-decoration: none;
}

.hd-ho{
  background-color: #FFEA96;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  color: #7a340d;
  padding: 4px;
}

.bod-ho{
  padding: 10px;
  color: #86761E;
}

.icon-info-bo{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5em;
}

.col-1-ho-in, .col-2-ho-in{
  width: 48%;
}

.body-col-ho-in{
  display: flex;
  justify-content: center;
}

.box-ho-2{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #86761e;
  border: 1px solid silver;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
}

.bod-ho-1{
  padding: 10px;
}

.hd-ho-2{
  background-color: white;
  text-align: center;
  padding: 5px;
  border: 1px solid silver;
}

.box-ho:hover, .box-ho-2:hover{  
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
  
}


.bod-info-ingre{
  background-color: #dedede;
  height: 80%;
  border-radius: 5px;
}

.text-comand{
  color: black !important;
}

@media screen and (max-width:1500px) {
    .bod-ho-pa{
      width: 90%;
    }
}

@media screen and (max-width:1336px) {
  .bod-ho-pa{
    width: 100%;
  }
}

@media screen and (max-width:1090px) {
  .graff-d{
    overflow-x: auto;
  }
}

@media screen and (max-width:845px) {
  .box-ho-2{
    width: 60%;
  }

  .box-ho{
    width: 60%;
  }
}

@media screen and (max-width:650px) {
  .graff-d{
    display: none;
  }

  .box-ho-2{
    width: 100%;
  }

  .col-1-ho{
    width: 100%;
  }
}