* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: white !important;
}

.father_all_ingredients {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 90%;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 38%,
    rgba(255, 234, 150, 1) 90%
  );
}

.clxJSV {
  background-color: transparent !important;
}

.btn {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-danger {
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #da190b;
  color: white;
}

.btn-edit {
  background-color: #ffea96;
  border-radius: 5px;
  font-size: 0.9em;
  color: black;
}

.btn-edit:hover {
  background-color: #ffea96;
}

.btn-success {
  background-color: #4caf50;
  transition: all 200ms ease-in-out;
}

.btn-success:hover {
  background-color: #0ae30a;
  transition: all 200ms ease-in-out;
}

.btn-danger:hover {
  background-color: #da190b;
  transition: all 200ms ease-in-out;
}

.expandable_data {
  /* display: none; */
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  width: 90%;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px;
}

.img_receta {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
}

.body-all-ingredients {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    356deg,
    rgba(255, 255, 255, 1) 38%,
    rgba(255, 234, 150, 1) 90%
  );
  padding-top: 35px;
}

.header-all-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.add-new-ingredient {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.add-new-ingredient > button {
  border: none;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffea96;
  cursor: pointer;
  box-shadow: 1px 1px 5px #86761e;
}

.add-new-ingredient > button:hover {
  transform: scale(1.1);
}

.form-all-ingredients {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.body-form-all-ingredients {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: white;
  min-height: 50%;
  height: auto;
  overflow-y: auto;
  border-radius: 5px;
}

.close-modal-all-ingredients {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.close-modal-all-ingredients > button {
  border: none;
  border-radius: 5px;
  padding: 6px;
  background-color: #ffea96;
  cursor: pointer;
}

.close-modal-all-ingredients > button:hover {
  transform: scale(1.1);
}

.title-form-ingredients {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.form-ingredients {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input-all-ingredients {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.input-all-ingredients > input {
  flex-basis: 30%;
  padding: 11px;
  /* border: none; */
  border-radius: 5px;
  outline: none;
  border: 1px solid silver;
  font-size: 0.8em;
}

.label-input-form {
  margin-top: 10px;
  font-size: 0.8em;
}

.select-gramace-ingredients {
  cursor: pointer;
  font-size: 1em;
  flex-basis: 30%;
}

.btn-send-ingredients {
  display: flex;
  padding: 30px;
}

.btn-send-ingredients > button {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffea96;
  box-shadow: 1px 1px 5px #86761e;
}

.btn-send-ingredients > button:hover {
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.css-1dimb5e-singleValue {
  font-size: 0.8em;
}

.load-respie-send {
  animation: giro 0.5s infinite;
}

@keyframes giro {
  0% {
    transform: rotate(358deg);
  }

  100% {
    transform: rotate(9deg);
  }
}

.div-actions-ingredients {
  margin: 10px 5px;
}

.alert-delete-ingredient {
  display: flex;
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}

.body-alert-ingredient {
  background-color: white;
  display: flex;
  position: relative;
  margin: auto auto;
  width: 30%;
  min-height: 10vh;
  height: auto;
  border-radius: 5px;
  flex-direction: column;
}

.header-alert-ingredient {
  display: flex;
  justify-content: center;
  font-size: 8vh;
  padding: 10px;
}

.info-alert-ingredient {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.info-alert-ingredient > p {
  font-size: 1em;
}

.btn-alert-ingredient {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-alert-ingredient > button {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.btn-alert-ingredient > button:hover {
  transform: scale(1.1);
}

.btn-delete-ingredient {
  margin-right: 15px;
  background-color: rgb(246, 88, 88);
}

.data-alert-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.data-alert-ingredients > p {
  color: red;
  text-align: center;
}

.datatable-ingredients {
  padding: 30px;
}

.rdt_TableHeadRow {
  background: rgb(255, 255, 255) !important;
  border-radius: 5px;
}

.Toastify__toast-container {
  font-size: 0.9em;
}

.img-not-found-image {
  font-size: 15px;
}

.search-bar-ingredient > input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
}

.search-bar-ingredient > svg {
  font-size: 27px;
}

.search-bar-ingredient {
  display: flex;
  align-items: center;
  width: 20%;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 25px;
  border:1px solid silver
}
