*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.child{
  display:flex ;
  position: relative;
  background: silver;
  height: 70%;
  margin: auto;
  flex-direction: column;
}