@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Work Sans', sans-serif;
}

.parent{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.div-container{
  display: flex;
    position: relative;
    margin: auto;
    width: 80%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
}

.separate-m {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.img-room{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}
.separate-1{
  width: 65%;
}

.separate-2{
  flex-direction: column;
  border: 1px solid #C7BE7E;
  /* box-shadow: 11px 1px 22px -3px #C7BE7E; */
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
}

.header > img{
  width: 40%;
  object-fit: cover;
}

.header > h2{
  width: 50%;
  text-align: center;
  font-size: 1.2em;
}

.body{
  display: flex;
    flex-direction: column;
    margin: 30px;
    height: 90%;
    align-items: center;
}

.form{
  width: 100%;
  padding: 30px;
}

.div-input{
  width: 100%;
  margin-bottom: 15px

}

.div-input > input{
  width: 100%;
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #C7BE7E;
}

.div-input > input:focus{
  border-bottom: 3px solid #C7BE7E;
}

.div-input-btn{
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
}

.div-input-btn > button{
  padding: 10px;
  width: 70%;
  border-radius: 5px;
    outline: none;
    border: none;
    background: #EFF9C6;
    cursor: pointer;
    font-size: 1em;
}

.div-input-btn > button:hover{
  padding: 15px;
  box-shadow: 11px 1px 22px -3px #C7BE7E;
  transition: all 500ms;
}

.error{
  font-size: 0.8em;
  color: red;
}

.div-text-img{
  display: flex;
  margin: auto;
  flex-direction: column;
  z-index: 1;
}

.div-text-img > p{
  font-size: 0.8em;
  text-align: end !important;
  text-decoration: underline;
  font-style: italic;
}

.text-img{
  font-size: 3em;
  font-style: italic;
}

.img-load{
  height: 18px;
  width: 100%;
}

.p-new-user{
  font-size: 0.8em;
}

.a-new-user{
  font-size: 0.8em;
}

@media screen and (max-width:1000px) {
  .div-container{
    flex-direction: column-reverse;
  }

  .separate-2{
    margin: auto;
  }
  .separate-1{
    display: none;
  }
  
}

@media screen and (max-width:900px) {
  .separate-2{
    margin: auto;
    width: 70%;
  }

  .btn-save-login{
    width: 100% !important;
  }
  
  .img-logo{
    width: 60% !important;
  }
}

@media screen and (max-width:600px) {
  .separate-2{
    margin: auto;
    width: 100%;
  }

  .img-logo{
    width: 70% !important;
  }


  .header > h2{
    font-size: 1em;
  }

  .form{
    padding: 0px !important;
    margin-bottom: 25px;
  }

  .div-container{
    height: 100%;
    width: 100%;
  }
}