
.respie-father{
  width: 90%;
  height: 87vh;
  margin-top: 6px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.create-respie{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 21px;

}

.create-respie > button{
  padding: 10px;
  font-size: 1.0em;
  border-radius: 5px;
  outline: none;
  background-color: #FFEA96;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px #86761E;
}

.create-respie > button > svg{
  margin-left: 6px;
}

.title-page{
  display: flex;
  width: 78%;
  margin: auto;
  align-items: center;
  margin-top: 10px;
}

.respie, .sub-respie{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFFAE7;
  border-radius: 5px;
  padding: 5px;
}

.sub-data-respie, .data-respie{
  min-height: 65vh;
}

.title-respie, .sub-title-respie{
  margin-top: 10px;
  margin-bottom: 15px;
}

.search-respie, .sub-search-respie{
   background-color: white;
   border-radius: 5px;
   width: 50%;
   box-shadow: 1px 1px 5px #848484;
}
.search-respie > div, .sub-search-respie > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search{
  padding: 4px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.data-respie, .sub-data-respie{
  display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box-respie, .sub-box-respie{
  background-color: #FFEA96;
  height: 20vh;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #848484;
  flex-basis: 30%;
  margin-right: 11px;
  cursor: pointer;
}

.box-respie:hover{
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}

.title-box, .sub-title-box{
  font-size: 1em;
  padding: 5px;
  color: black;
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20vh;
}

.img-box{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,234,150,1) 66%);
  width: 90%;
  margin: auto;
  height: 14vh;
}

.img-respie{
  width: 100%;
  height: 100%;
}

.box-resise-up{
  margin-top: -145px;
}

.modal-respie-create{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  top: 0;
  background: rgb(0, 0, 0, 0.4);
}

.modal-data-respie{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 70%;
  margin: auto;
  height: 85%;
  border-radius: 5px;
  padding: 15px;
}

.aside-respie-left{
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 1px solid silver;
  padding: 10px;
}

.img-aside-respie{
  height: 40%;
  width: 100%;
  background-color: #FFFAE7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.img-aside-respie > svg{
  width: 100%;
  height: 32%;
  color: #86761E;
  object-fit: cover;
}

.img-aside-respie > img{
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.aside-respie-rigth{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.header-body{
  width: 100%;
}

.close-modal-respie{
  display: flex;
  align-items: center;
  justify-content: end;
}

.close-modal-respie > button{
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #FFEA96;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #86761E;
}

.close-modal-respie > button:hover{
  transform: scale(1.1);
}

.title-modal-respie{
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0px 10px;
}

.form-respie{
  height: 100%;
}

.body-respie{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  margin-top: 1%;
  overflow: hidden;
  overflow-y: auto;
}

.section-form-respie{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.input-rows-respie{
  width: 50%;
  margin: 10px;
} 

.input-rows-respie > input {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 5px;
  border: 1px solid silver;
  outline: none;
}

.section-form-colum{
  margin: 10px;
}
.css-1jqq78o-placeholder{
  font-size: 0.8em;
}
.textarea-respie{
  width: 100%;
  padding: 10px;
  height: 10vh;
  resize: none;
  outline: none;
  border-radius: 5px;
  border:1px solid silver
}

.section-form-colum-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.section-form-colum-btn > button{
  width: 34%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #FFEA96;
    box-shadow: 0px 0px 3px #86761E;
}

.section-form-colum-btn > button:hover{
  background-color: #F5B702;
  transition: all 300ms ease-in-out;
}

.error-respi{
  height: 12px;
}


.error{
font-size: 0.8em;
color: red;
=======

.edit-show-respie {
  display: flex;
  position: relative;
  height: 90%;
  background: white;
  border-radius: 5px;
  width: 27%;
  margin: auto;
}

.edit-show-respie-s{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  background: rgb(244,183,0);
  background: linear-gradient(90deg, rgba(244,183,0,1) 53%, rgba(246,194,38,1) 83%, rgba(255,255,255,1) 100%);
  border-radius: 5px;
}

/* zona de recetas */
.section-show-respie {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  height: 90%;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  margin-top: 10px;
}

.header-show-respie {
  display: flex;
  width: 100%;
  height: 11vh;
  align-items: center;
}
.txt-respies {
  font-weight: 500;
}

.img-logo-show-respie {
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.btn-hide-respie {
  position: absolute;
  display: flex;
  align-items: center;
  right: 50px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  background-color: #F4B700;
}

.btn-hide-respie:hover{
  border: 1px solid #F4B700;
  box-shadow: 5px 2px 9px 0px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in;
}

.body-show-respie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.data-show-respie {
  background: white;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 5px solid #fef7bd;
  border-radius: 14px 14px 0px 0px;
}

.img-show-respie {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.actions-show-respie {
  display: flex;
  flex-direction: row;
  background-color: #fef7bd;
  padding: 5px;
  border-radius: 14px 14px 0px 0px;
  align-items: center;
  justify-content: space-between;
}

.btn-actions-show-respie {
  cursor: pointer;
  font-size: 17px;
}

.btn-actions-show-respie:hover {
  background: black;
  /* border-radius: 50%; */
  color: white;
  transition: all 500ms;
}

.txtResipe {
  width: 60%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.first {
  margin-right: 10px;
}

.txt-search-respie{
  display: flex;
  position: relative;
  width: 100%;
}

.elem-searh-respie{
  display: flex;
  margin: auto;
  height: 100%;
  width: 35%;
  position: relative;
}

.txt-search-respie-s{
  padding: 6px;
  width: 100%;
  font-size: 16px;
  outline: none;
  /* border-left: none; */
  border: none;
  background-color: #FEF7BD;
}

.txt-search-respie-s::placeholder{
background-color: #FEF7BD
}

.txt-search-respie-s:focus{
  box-shadow: 9px 6px 9px -1px rgba(0,0,0,0.7);
  transition: all 100ms ease-in-out;
}

.span-search-respie{
  border-radius: 20px 0px 0px 20px;
  padding: 10px;
  background-color: #FEF7BD
}


.header-edit-respie{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 11vh;
}

.header-edit-respie > h4{
  font-weight: 500;
  font-size: 1.4em;
}

.header2-edit-respie{
  display: block;
  width: 100%;
  height: 17vh;
}

.img-edit-respie{
  display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.img-edit-respie > img{
  height: 100%;
    object-fit: cover;
}

.body-form-edit-respie{
  display: block;
  position: relative;
  height: 100%;
}

.form-respie{
  display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.div-input-respie{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-respie{
  padding: 9px;
  border: none;
  background-color: #FEF7BD;

}

.textarea-respie{
  padding: 9px;
}

.ingredients-per-respie{
  width: 72%;
}

.loding-resipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loding-resipe > svg{
  font-size: 3em;
  /* top: 21px; */
  margin-top: 233px;
  animation: giro 1s linear infinite;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
