
.edit-show-respie {
  display: flex;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.edit-show-respie-s{
  display: flex;
  position: relative;
  width: 30%;
  height: 90%;
  overflow-y: auto;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  margin: auto;
}

/* zona de recetas */
.section-show-respie {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  height: 90%;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  margin-top: 10px;
}

.header-show-respie {
  display: flex;
  width: auto;
  height: 11vh;
  align-items: center;
  margin-left: 9%;
}
.txt-respies {
  font-weight: 500;
}

.img-logo-show-respie {
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.btn-hide-respie {
  position: absolute;
  display: flex;
  align-items: center;
  right: 50px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  background-color: #F4B700;
}

.btn-hide-respie:hover{
  border: 1px solid #F4B700;
  box-shadow: 5px 2px 9px 0px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in;
}

.body-show-respie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.data-show-respie {
  background: white;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 5px solid #fef7bd;
  border-radius: 14px 14px 0px 0px;
}

.img-show-respie {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.actions-show-respie {
  display: flex;
  flex-direction: row;
  background-color: #fef7bd;
  padding: 5px;
  border-radius: 14px 14px 0px 0px;
  align-items: center;
  justify-content: space-between;
}

.btn-actions-show-respie {
  cursor: pointer;
  font-size: 17px;
}

.btn-actions-show-respie:hover {
  background: black;
  /* border-radius: 50%; */
  color: white;
  transition: all 500ms;
}

.txtResipe {
  width: 60%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.first {
  margin-right: 10px;
}

.txt-search-respie{
  display: flex;
  position: relative;
  width: 100%;
}

.elem-searh-respie{
  display: flex;
  margin: auto;
  height: 100%;
  width: 35%;
  position: relative;
}

.txt-search-respie-s{
  padding: 6px;
  width: 100%;
  font-size: 16px;
  outline: none;
  /* border-left: none; */
  border: none;
  background-color: #FEF7BD;
}

.txt-search-respie-s::placeholder{
background-color: #FEF7BD
}

.txt-search-respie-s:focus{
  box-shadow: 9px 6px 9px -1px rgba(0,0,0,0.7);
  transition: all 100ms ease-in-out;
}

.span-search-respie{
  border-radius: 20px 0px 0px 20px;
  padding: 10px;
  background-color: #FEF7BD
}


.header-edit-respie{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 11vh;
}

.header-edit-respie > h4{
  font-weight: 500;
  font-size: 1.4em;
}

.header2-edit-respie{
  display: block;
  width: 100%;
  height: 17vh;
}

.img-edit-respie{
  display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.img-edit-respie > img{
  height: 100%;
    object-fit: cover;
}

.body-form-edit-respie{
  display: block;
  position: relative;
  height: 100%;
}

.form-respie{
  display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.div-input-respie{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-respie{
  padding: 9px;
  border: none;
  border-radius: 5px;
  outline: none;
  border-bottom: 1px solid silver;
  /* border: 1px solid #FEF7BD;; */
}

.input-respie:focus, .textarea-respie:focus{
  background: #fef7bd;
  /* padding: 10px; */
}


.textarea-respie{
  padding: 9px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
}

.ingredients-per-respie{
  width: 72%;
}

.loding-resipe{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loding-resipe > svg{
  font-size: 3em;
  /* top: 21px; */
  margin-top: 233px;
  animation: giro 1s linear infinite;
}

.div-img-icon{
  text-align: center;
}

.img-not-food{
  font-size: 80px;
}

.create-new-respie{
  display: flex;
  width: auto;
  margin-left: 9%;
}

.btn-create-new-respie{
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 1px solid white;
}


@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.exit-edit-show-respie{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.exit-edit-show-respie:hover{
  font-size: 30px;
  transition: all 300ms;
}

.footer-send-respie{
  display: flex;
  padding: 10px;
  width: 100%;
  margin-top: 25px;
}

.footer-send-respie > button{
  width: 80%;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: 3px solid #FEF7BD;
  background-color: #FEF7BD;
}

.footer-send-respie > button:hover{
  background-color: #F4B700;
  transition:  all 300ms ease-in-out;
  border: 3px solid #F4B700;
}

.img-create-Respie{
  font-size: 5vh;
}